{% extends 'base.html' %}

{% block title %}Friends List{% endblock title %}

{% block content %}
  <h1>Friends List</h1>

  {% if friends %}
    <ul>
      {% for friend in friends %}
        <li>
            <p>{{ friend.user.username }}</p>
          <p><a href="{% url 'profile' user_id=friend.user.id %}">Go to {{ friend.user.username }}'s profile</a></p>
          <p><a href="{% url 'friend_collectibles_list' friend.user.id %}">View {{ friend.user.username }}'s' database</a></p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No friends.</p>
  {% endif %}

{% endblock content %}