{% extends 'base.html' %}

{% block title %} {{ block.super }} {% endblock title %}

{% block content %}
  <h2>Received Friend Requests</h2>
  {% if friend_requests %}
    {% for friend_request in friend_requests %}
      <p>From: {{ friend_request.sender.username }}</p>
      <p>Status: {{ friend_request.get_status_display }}</p>
      <form method="post" action="{% url 'notifications' %}">
        {% csrf_token %}
        <input type="hidden" name="friend_request_id" value="{{ friend_request.id }}">
        <button type="submit" name="action" value="accept">Accept</button>
        <button type="submit" name="action" value="reject">Reject</button>
      </form>
    {% empty %}
      <p>No friend requests.</p>
    {% endfor %}
  {% else %}
    <p>No friend requests.</p>
  {% endif %}
{% endblock content %}