{% extends 'base.html' %}
{% load static %}

{% block title %}Preferences{% endblock title %}

{% block content %}


<div class="success-msg">
    {% for msg in messages %}
    &#9989;{{ msg }}
    {% endfor %}
</div>


<div class="item-form-container">
    <h2>Preferences</h2>
    <form method="post" action="{% url 'preferences' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="savePreferences">Save Preferences</button>
    </form>
</div>

{% endblock content %}