{% extends 'base.html' %}

{% block title %}Update {{ block.super }} Profile{% endblock title %}

{% block content %}
<div class="signup-login-container">
    <h1>Update {{ user }} Profile</h1>
    <form method="post" action="{{ request.path }}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <p>Horizontal 4:3 images recommended</p>
        <button type="submit">Update</button>
    </form>
</div>

{% endblock content %}