{% extends 'base.html' %}

{% block title %} {{ block.super }} {% endblock title %}

{% block content %}
{% if object.id %}
<h1>Update item record</h1>
{% else %}
<h1>Add item to the list</h1>
{% endif %}
    <form method = "post" 
    action="{{ request.path }}?collectibleitem_id={{ collectibleitem.id }}" 
    enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Confirm</button>
    </form>
    <script>
        console.log("hello")
        $(document).ready(function () {
          // Disable the dependent dropdown initially
          // $('#id_value').prop('disabled', true);
      
          // Handle the change event of the 'condition' dropdown
          $('#id_condition').on('change', function () {
            var gradationSystemId = $(this).val();
            var valueSelect = $('#id_value');
      
            // Clear and disable the dependent dropdown
            valueSelect.empty().prop('disabled', true);
      
            // Fetch the related Value objects based on the selected GradationSystem
            $.ajax({
              url: '{% url "get_values" %}',
              type: 'GET',
              data: {
                gradation_system_id: gradationSystemId
              },
              success: function (data) {
                // Enable the Value dropdown and populate it with the fetched data
                valueSelect.prop('disabled', false);
      
                $.each(data.values, function (key, value) {
                  valueSelect.append($('<option>').text(value.value).attr('value', value.id));
                });
              }
            });
          });
        });
    </script>

{% endblock content %}