{% extends 'base.html' %}
{% load static %}

{% block title %} {{ block.super }} {% endblock title %} 

{% block content %}

<p><a href="{% url 'create_new_item' %}">Create new item</a></p>
<p><a href="{% url 'notifications' %}">notifications</a></p>


{% if collectibles_list %}
{% include 'includes/search.html' %}
{% include 'includes/paginator_nav.html' %}
<ul class="collectibles_list">
    {% for item in collectibles_list %}
        <li>
        <a href="#">
            {% if item.obverse_side %}
                <img class="item-front-image" src="{{ item.obverse_side.url }}">
            {% else %}
                <img class="item-front-image" src="{% static 'collectibles/img/noimage.png' %}">
            {% endif %}
        </a>
        </li>
        <li>Country: {{ item.country }}</li>
        <li>Currency: {{ item.currency }}</li>
        <li>Release Year: {{ item.release_year }}</li>
        <li>Item type: {{ item.get_item_type_display }}</li>
        <li>Denomination: {{ item.denomination }}</li>
        <li>Quantity: {{ item.quantity }}</li>
        <li>Condition: {{ item.condition }}</li>
        <li>Description: {{ item.description }}</li>
    {% endfor %}
</ul>

{% include 'includes/paginator_pages.html' %}
{% endif %}
{% endblock content %}
