{% extends 'base.html' %}

{% block title %} {{ block.super }} {% endblock title %}

{% block content %}
<h1>Do you really want to delete this record? :</h1>
<p>Country: {{ object.country }}</p>
<p>Currency: {{ object.currency }}</p>
<p>Denomination: {{ object.denomination }}</p>
<p>Condition: {{ object.condition }}</p>
<p>Description: {{ object.description }}</p>
<form action="{{ request.path }}" method="post">
    {% csrf_token %}
    <button type="submit">Confirm</button>
    <a href="{% url 'collectibles_list' %}">Cancel</a>
</form>

{% endblock content %}