{% extends 'base.html' %}

{% block title %} Delete Item {% endblock title %}

{% block content %}
<div class="dialog-message">
    <h2>Item Details</h2>
</div>
<div class="item-detail-container">
    <div class="item-detail-img">
        {% if item.obverse_side %}
            <img class="item-front-image" src="{{ item.obverse_side.url }}">
        {% endif %}
        {% if item.reverse_side %}
            <img class="item-front-image" src="{{ item.reverse_side.url }}">
        {% endif %}
    </div>
    <div class="item-detail-contents">
        <ul>
            <li>Country: {{ item.country }}</li>
            <li>Item Type: {{ item.get_item_type_display }}</li>
            <li>Release Year: {{ item.release_year }}</li>
            <li>Quantity: {{ item.quantity }}</li>
            <br>
            {% if item.currency %}
                <li>Currency: {{ item.currency }}</li>
            {% endif %}
            {% if item.circulation %}
                <li>Circulation: {{ item.circulation }}</li>
            {% endif %}
            {% if item.denomination %}
                {% comment %} removing .0 if it is .0 from variable {% endcomment %}
                {% if item.denomination|floatformat:0|stringformat:"s" == item.denomination|floatformat:0 %}
                <li>Denomination: {{ item.denomination|floatformat }}</li>
                {% else %}
                <li>Denomination: {{ item.denomination }}</li>
                {% endif %}
            {% endif %}
            <li>Item condition:
                <ul>
                    <li>Grading System: {{ item.condition }}</li>
                    <li>Value: {{ item.value }}</li>
                </ul>
            </li>
            <li>Description: {{ item.description }}</li>
            <li>Register Date: {{ item.register_date }}</li>
            {% if item.update_date %}
            <li>Last Changes: {{ item.update_date }}</li>
            {% endif %}
        </ul>
    </div>
    <div class="ask-action-dialog">
        {% comment %} If the listing does not belong to friend {% endcomment %}
        {% if user.is_authenticated and item.user == user %}
            <a href="{% url 'update_item' item.pk %}">Update</a>
            <a href="{% url 'delete_item' item.pk %}">Delete</a>
        {% endif %}
        <a href="{{ request.META.HTTP_REFERER }}">Go Back</a>
    </div>
    
</div>

{% endblock content %}