{% extends 'base.html' %}

{% block title %} {{ block.super }} {% endblock title %} 

{% block content %}

<p><a href="{% url 'create_new_item' %}">Create new item</a></p>
<p><a href="{% url 'profile_search' %}">Search for users</a></p>

{% if collectibles_list %}
{% include 'includes/search.html' %}
{% include 'includes/paginator_nav.html' %}
<table>
    <tr>
        <th>Country</th>
        <th>Currency</th>
        <th>Release Year</th>
        <th>Circulation</th>
        <th>Item Type</th>
        <th>Denomination</th>
        <th>Quantity</th>
        <th>Condition</th>
        <th>Description</th>
        <th>Register Date</th>
        <th>Update Date</th>
    </tr>
    {% for item in collectibles_list %}
    <tr>
        <td>{{ item.country }}</td>
        <td>{{ item.currency }}</td>
        <td>{{ item.release_year }}</td>
        <td>{{ item.circulation }}</td>
        <td>{{ item.get_item_type_display }}</td>
        <td>{{ item.denomination }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.condition }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.register_date }}</td>
        <td>{{ item.update_date }}</td>
    </tr>
    {% endfor %}
</table>

{% include 'includes/paginator_pages.html' %}
{% endif %}
{% endblock content %}
