{% extends 'base.html' %}
{% load static %}

{% block title %} {{ block.super }} {% endblock title %} 

{% block search_bar %}
{% include 'includes/search.html' %}
{% endblock search_bar %}

{% block content %}

{% if friend_collectibles_list %}
<h2>{{ friend.username }}'s collectibles list</h2>
{% include 'includes/paginator_nav.html' %}
<div class="items-grid-container">
    {% for item in friend_collectibles_list %}
    <div>
        <div class="content-container">
        <div>
        <a href="{% url 'item_detail' item.pk %}">
            {% if item.obverse_side %}
                <img class="item-front-image" src="{{ item.obverse_side.url }}">
            {% else %}
                <img class="item-front-image" src="{% static 'collectibles/img/noimage.png' %}">
            {% endif %}
        </a>
        </div>
        <div>Country: {{ item.country }}</div>
        <div>Item type: {{ item.get_item_type_display }}</div>
        <div>Release Year: {{ item.release_year }}</div>
        <div>Quantity: {{ item.quantity }}</div>
        {% if item.currency %}
            <div>Currency: {{ item.currency }}</div>
        {% endif %}
        {% if item.denomination %}
            {% comment %} removing .0 if it is .0 from variable {% endcomment %}
            {% if item.denomination|floatformat:0|stringformat:"s" == item.denomination|floatformat:0 %}
            <div>Denomination: {{ item.denomination|floatformat:"-2" }}</div>
            {% else %}
            <div>Denomination: {{ item.denomination }}</div>
            {% endif %}
        {% endif %}
        </div>
        <div class="list-item-buttons">
            <a href="{% url 'item_detail' item.pk %}">View Details</a>
        </div>
    </div>
    {% endfor %}
</div>

{% include 'includes/paginator_pages.html' %}

{% else %}
<h2>No items found in your friend's collectibles list</h2>
{% endif %}

{% endblock content %}
