{% extends 'base.html' %}
{% load static %}

{% block title %} {{ block.super }} {% endblock title %} 

{% block content %}

<p><a href="{% url 'collectibles_list' %}">Back to my collectibles list</a></p>


{% if friend_collectibles_list %}
{% include 'includes/search.html' %}
{% include 'includes/paginator_nav.html' %}
<div class="items-grid-container">
    {% for item in friend_collectibles_list %}
    <div>
        <div class="content-container">
        <div>
        <a href="{% url 'item_detail' item.pk %}">
            {% if item.obverse_side %}
                <img class="item-front-image" src="{{ item.obverse_side.url }}">
            {% else %}
                <img class="item-front-image" src="{% static 'collectibles/img/noimage.png' %}">
            {% endif %}
        </a>
        </div>
        <div>Country: {{ item.country }}</div>
        <div>Currency: {{ item.currency }}</div>
        <div>Release Year: {{ item.release_year }}</div>
        <div>Item type: {{ item.get_item_type_display }}</div>
        <div>Denomination: {{ item.denomination }}</div>
        <div>Quantity: {{ item.quantity }}</div>
        </div>
        <div class="list-item-buttons">
            <a href="{% url 'item_detail' item.pk %}">View Details</a>
            <a href="#">&#x270D;</a>
            <a href="#">&#128465;</a>
        </div>
    </div>
    {% endfor %}
</div>

{% include 'includes/paginator_pages.html' %}
{% endif %}
{% endblock content %}
