{% extends 'base.html' %}
{% load static %}

{% block content %}

{% comment %} Content for not logged in users {% endcomment %}
{% if not user.is_authenticated %}
<div class="welcome-section">
    <div class="container">
        <h1>Welcome to Collectibles DB app!</h1>
        <p>Organize and explore your collectible items with ease.</p>
        <div class="cta-buttons">
            <a href="{% url 'login' %}?next={{request.path}}" class="btn btn-primary">Get Started</a>
        </div>
    </div>
</div>

<div class="highlight-section">
    <div class="container">
        <h2>App Highlights</h2>
        <div class="highlight-grid">
            <div class="highlight-item">
                <img src="{% static 'collectibles/img/noimage.png' %}" class="highlight-image">
                <h3>Friends Functionality</h3>
                <p>Connect and see your fellow collector database</p>
                <p>It comes handy when you want to surprise your friend with a gift but don't sure if they already have that particular item</p>
            </div>
            <div class="highlight-item">
                <img src="{% static 'collectibles/img/noimage.png' %}" class="highlight-image">
                <h3>Explore Collectibles</h3>
                <p>Organize your collections with ease.</p>
            </div>
            <div class="highlight-item">
                <img src="{% static 'collectibles/img/noimage.png' %}" class="highlight-image">
                <h3>Mobile Friendly Interface</h3>
                <p>Access your collectible items anytime, anywhere on any device.</p>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% comment %} Content for every user (may be changed later) {% endcomment %}
<div class="news-section">
    <div class="container">
        <h2>News and Updates</h2>
        <div class="news-item">
            <h3>Lorem Ipsum Dolor Sit Amet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus turpis eget metus sodales, at ullamcorper enim aliquam.</p>
        </div>
        <div class="news-item">
            <h3>Nulla Vulputate Nunc Eu Facilisis</h3>
            <p>Nulla vulputate nunc eu facilisis aliquet. Nullam sit amet est urna. Mauris scelerisque bibendum semper.</p>
        </div>
    </div>
</div>

{% endblock content %}
