/* user navbar */

.secNav nav {
    background: #f0a400;
}

.secNav nav .nav-list .nav-link {
    color: #000000;
}

.secNav nav .nav-list .nav-item:hover {
    background: #CCCCCC;
}

@media (max-width: 710px) {

    .secNav nav .nav-list {
        background: #f0a400;
    }
}

.secNav nav .navbar-toggler .bar {
    background: #404040;
}



/* collectibles grid display  */

.items-grid-container {
    background-color: #f8f8f8;
}

.item-front-image {
    border: 2px solid #424242;
}

.items-grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #949494;
}

#friend-name {
    background-color: #f8f8f8;
}

.list-item-buttons {
    border-top: 1px solid #949494;
}

.edit-item-btn{
    border: 2px solid rgb(99, 99, 99);
}

.delete-item-btn{
    border: 2px solid red;
}

.view-detail-btn a {
    color: #181818;
}

/* paginator */

.paginator {
    background-color: #f8f8f8;
}
.paginator a, .paginator .current {
    border: 1px solid #aacc99;
    background-color: #ffebd0;
    color: #181818;
}

/* sorting buttons */

.sort-options {
    background-color: #f8f8f8;
}

.sort-options a {
    color: black;
    border: 2px solid #999999;
}

.sort-options a:hover {
    background-color: #e7e7e7;
}



/* collectibles list display style */


.table-background {
    background-color: #f8f8f8;
}

.items-list-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


.items-list-container th {
    background-color: #404040;
    color: white;
}

.items-list-container th a {
    color:white
}

.items-list-container td {
    border-bottom: 1px solid #ddd;
}


.items-list-container th a:visited {
    color:white;
}

.items-list-container tr:hover {
    background: #f3f3f3;
}
.items-list-container td a {
    color:black;
}

.items-list-container td a:visited {
    color:black;
}

.edit-list-btn {
    border: 2px solid #bbbbbb;
}


/* messages */

.success-msg {
    background-color: #9bfa99;
    color: black;
    font-size: 20px;
}