/* navbar */

* {
    margin: 0;
    padding: 0;
    border: 1;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

html { 
    font-family: Helvetica;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    height: 68px;
    line-height: 68px;
    background: #404040;
}

nav .logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .5px;
}

nav .nav-list {
    display: flex;
}

nav .nav-list .nav-item{
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
    font-size: large;
}

nav .nav-list .nav-item:hover {
    background: #b69955;
}

nav .nav-list .nav-link {
    color: #f1f1f1;
    font-size: 18;
    font-weight: 500;
}

@media (max-width: 935px) {

    nav {
        padding: 0 2rem;
    }

    nav .nav-list .nav-item {
        padding: 0 20px;
    }
}

@media (max-width: 675px) {

    nav .nav-list {
        display: grid;
        position: absolute;
        background: #404040;
        width: 100%;
        top: 68px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .5s;
    }

    nav .nav-list .nav-item {
        padding-left: 25px;
    }

    nav .navbar-toggler {
        display: grid !important;
    }
}

nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
}

.navbar-input {
    display: none;
}

.navbar-input:checked ~ nav .nav-list {
    transform: translateY(0%);
    z-index: 1;
}

.navbar-input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
    margin-right: 25px;
}

.navbar-input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

.navbar-input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

.navbar-input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    position: absolute;
    transform: rotate(-45deg);
}

i {
    margin-top: 29px;
}

#user-user-name {
    color: #e3f7ac;
}


/* second navbar */



.secNav nav {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    height: 68px;
    line-height: 68px;
    background: #F0A500;
}


.secNav nav .nav-list {
    display: flex;
}

.secNav nav .nav-list .nav-item{
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
    font-size: large;
}

.secNav nav .nav-list .nav-item:hover {
    background: #CCCCCC;
}

.secNav nav .nav-list .nav-link {
    color: #000000;
    font-size: 18;
    font-weight: 500;
}

@media (max-width: 935px) {

    .secNav nav {
        padding: 0 2rem;
    }

    .secNav nav .nav-list .nav-item {
        padding: 0 20px;
    }
}

@media (max-width: 675px) {

    .secNav nav .nav-list {
        display: grid;
        position: absolute;
        background: #F0A500;
        width: 100%;
        top: 68px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .5s;
    }

    .secNav nav .nav-list .nav-item {
        padding-left: 35px;
    }

    .secNav nav .navbar-toggler {
        display: grid !important;
    }
}

.secNav nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

.secNav nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #404040;
    border-radius: 10%;
    transition: .4s;
}

.secNav .navbar-input {
    display: none;
}

.secNav .navbar-input:checked ~ nav .nav-list {
    transform: translateY(0%);
    margin-top: 68px;
    z-index: 1;
}

.secNav .navbar-input:checked ~ nav .navbar-toggler {
    margin-top: 25px;
    margin-right: 25px;
}

.secNav .navbar-input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

.secNav .navbar-input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

.secNav .navbar-input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    position: absolute;
    transform: rotate(-45deg);
}


/* footer and body*/

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    height: 50px;
    line-height: 50px;
    background-color: #5c5c5c;
    margin-top: auto;
}

footer p {
    font-weight: 500;
    color: #ffffff;
}


/* collectibles list */

.item-front-image {
    max-width: 20%;
    margin: 0 0.5rem;
    border: 2px solid #000;
}