<!DOCTYPE html>
{% load static i18n %}
{% load custom_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/profiles_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbars_style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'collectibles/img/favicon.ico' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</head>
<body>

{% comment %} responsive navbar {% endcomment %}
    <div class="user-nav">
        <nav class="top-nav">
            <a class="logo" href="{% url 'index' %}"><img src="{% static 'collectibles/img/logo.bmp' %}"></a>
            {% if not user.is_authenticated %}
            <ul>
                <li>
                    <a href="{% url 'login' %}?next={{request.path}}">Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>
            </ul>
            {% else %}
            <div class="notifications-and-user">
                <a href="#">
                    <img class="settings-image" 
                    src="{% static 'collectibles/img/settings.bmp' %}">
                </a>
                <a href="{% url 'notifications' %}">
                    {% if request.user|has_pending_friend_requests %}
                    <img class="notification-bell-image" 
                    src="{% static 'collectibles/img/notification_bell_rings.bmp' %}">
                    {% else %}
                    <img class="notification-bell-image" 
                    src="{% static 'collectibles/img/notification_bell_calm.bmp' %}">
                    {% endif %}
                </a>
                {% if user and user.profile.picture %}
                <img class="user-profile-img" src="{{ user.profile.picture.url }}" onclick="toggleMenu()">
                {% else %}
                <img class="user-profile-img" src="{% static 'collectibles/img/generic_user_logo.jpg' %}" onclick="toggleMenu()">
                {% endif %}
                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <a href="{% url 'profile' %}">
                                {% if user and user.profile.picture %}
                                <img class="user-profile-img" src="{{ user.profile.picture.url }}" >
                                {% else %}
                                <img class="user-profile-img" src="{% static 'collectibles/img/generic_user_logo.jpg' %}">
                                {% endif %}
                            </a>
                            <a href="{% url 'profile' %}">
                                <h3>{{ user.username }}</h3>
                            </a>
                        </div>
                        {% if user.is_authenticated %}
                            {% if user.is_staff or user.is_superuser %}
                            <hr>
                            <a href="{% url 'admin:index' %}" class="sub-menu-link"><p>Administration</p></a>
                            {% endif %}
                        {% endif %}
                        <hr>
                        <a href="{% url 'profile_update' %}" class="sub-menu-link"><p>Edit Profile</p></a>
                        <a href="{% url 'profile_search' %}" class="sub-menu-link"><p>Search for Users</p></a>
                        <a href="{% url 'friends_list' %}" class="sub-menu-link"><p>View Friends List</p></a>
                        <hr>
                        <a href="{% url 'logout' %}" class="sub-menu-link"><p>Log Out</p></a>
                    </div>
                </div>
            {% endif %}
            </div>
        </nav>
    </div>
    <script>
        let subMenu = document.getElementById("subMenu");

        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
        }
    </script>

{% comment %} second navbar (css only, w burger){% endcomment %}
{% if user.is_authenticated %}
<div class="secNav">
    <input class="navbar-input" type="checkbox" id="toggle2">
    <nav>

        <label class="navbar-toggler" for="toggle2">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </label>

        <ul class="nav-list">
            {% if not collectibles_list %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'collectibles_list' %}">My collectibles</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_new_item' %}">&#10133;Add new item</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'statistics' %}">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        {% comment %} search {% endcomment %}
        {% if collectibles_list or friend_collectibles_list %}
        {% include 'includes/search.html' %}
        {% endif %}
    </nav>
</div>
{% endif %}

    {% block content %}
    {% endblock content %}
    <footer><p>&copy;collectibles database 2023 </p></footer>
</body>
</html>